html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    background-color: rgb(40, 40, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

header {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(30, 30, 30);
    width: calc(100% - 4px);
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

.logo img {
    height: 100%;
}

header .menu {
    margin-top: 0px;
    margin-right: 4vw;
    display: flex;
    list-style: none;
    height: 100%;
}

header .menu li {
    height: 100%;
}

header .menu a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10vw;
    transition: 0.4s;
}

header .menu a:hover {
    background-color: #EEE;
    color: rgb(40, 40, 40);
}

main {
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 80%;
    max-width: 1100px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregame {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    height: 60%;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.play {
    cursor: pointer;
    padding: 2vh 3vw;
    transition: 0.3s;
    font-size: 2.5rem;
    border: none;
    color: white;
    background-color: rgb(30, 30, 30);
}

.play:hover {
    color: rgb(40, 40, 40);
    background-color: white;
}

.game {
    display: none;
    height: 90%;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.gameStats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 15%;
}

.gameStats .score {
    width: 100%;
    text-align: center;
    height: 10vh;
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.gameStats .line {
    height: 100%;
    border-left: 1px solid white;
}

.game .gamefooter {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.game .tryAgain {
    cursor: pointer;
    padding: 2vh 3vw;
    border: 1px solid white;
    color: white;
    background-color: rgb(30, 30, 30);
    transition: 0.3s;
    display: none;
}

.game .tryAgain:hover {
    color: rgb(40, 40, 40);
    background-color: white;
}

.game .correct {
    color: rgb(50, 219, 50);
}

.game .incorrect {
    color: rgb(255, 17, 17);
    background-color: rgba(255, 17, 17, 0.2);
    border-radius: 5px;
}

.game .active {
    text-decoration: underline;
}

.game .textInput {
    opacity: 0;
    cursor: default;
}

footer {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgb(30, 30, 30);
    width: calc(100% - 4px);
    height: 2%;
}

.podpis {
    width: 95%;
    text-align: end;
}