html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(48, 48, 48), rgb(0, 0, 0)); 
}

.login-card {
    background-color: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    height: 70vh;
    width: 30vw;
    min-width: 400px;
    color: white;
    border-radius: 50px;
}

.login-card-logo {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card-logo img {
    height: 100%;
}

.login-card-header {
    text-align: center;
    margin-top: -30px;
    text-transform: uppercase;
    letter-spacing: 1.75px;
}

.login-card-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.form-item {
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    padding: 10px;
    border-radius: 50px;
}

.form-item i {
    margin: 5px;
    color: black;
}

.form-item input {
    background: none;
    border: none;
    outline: none;
    height: 3vh;
    font-size: 1.25rem;
    width: 80%;
}

.error {
    font-weight: bold;
    color: red;
    text-align: center;
}

.form-item input:focus {
    border-bottom: 1.5px solid black;
}

.login-card-form input[type="submit"]{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 1.25rem;
    color: rgb(68, 68, 68);
}

.login-card-form input[type="submit"]:hover {
    background: rgb(20, 20, 20);
    color: rgba(255, 255, 255, 0.5);
}

.login-card-footer {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.login-card-footer a {
    color: yellow;
    text-decoration: none;
    
}

